<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sketchware.remod.sources">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage" />

    <application
        android:name="com.besome.sketch.SketchApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/sketch_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7684160946124871~7302238434" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sketchware.remod.sources.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service android:name="com.besome.sketch.fcm.SketchFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.besome.sketch.DeepLinkActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sketchware.io"
                    android:pathPrefix="/purchase.jsp"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sketchware.io"
                    android:pathPrefix="/deeplink.jsp"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.besome.sketch.InitActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.besome.sketch.acc.GoogleSignActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.acc.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.acc.MyPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.acc.MyPageSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.besome.sketch.acc.ProfileActivity" />
        <activity android:name="com.besome.sketch.acc.ServiceOutActivity" />
        <activity android:name="com.besome.sketch.acc.UserGradeActivity" />
        <activity
            android:name="com.besome.sketch.ads.AdsAdmobActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name="com.besome.sketch.builder.BuildActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.bill.InAppActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.besome.sketch.bill.SubscribeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.bill.PurchaseCheckActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.bill.OrdersActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.bill.ThanksActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.besome.sketch.common.SrcViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.common.ImportIconActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.besome.sketch.common.FullscreenImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name="com.besome.sketch.help.BlogWebActivity" />
        <activity android:name="com.besome.sketch.help.LicenseActivity" />
        <activity android:name="com.besome.sketch.help.ProgramInfoActivity" />
        <activity
            android:name="com.besome.sketch.help.SystemSettingActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.besome.sketch.help.SystemInfoActivity" />
        <activity
            android:name="com.besome.sketch.help.NoticeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.LogicEditorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.PropertyActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.makeblock.MakeBlockActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.projects.MyProjectSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.besome.sketch.tools.CollectErrorActivity" />
        <activity android:name="com.besome.sketch.tools.CompileLogActivity" />
        <activity
            android:name="com.besome.sketch.tools.ExportApkActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tools.NewKeyStoreActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.export.ExportProjectActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.export.ManageExportUrlActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.project.ShareProjectActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.project.SharedProjectDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:parentActivityName="com.besome.sketch.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="ProjectReview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="show_project"
                    android:scheme="sketchwareapp" />
            </intent-filter>
        </activity>
        <activity android:name="com.besome.sketch.shared.project.SharedProjectShowAllActivity" />
        <activity
            android:name="com.besome.sketch.shared.project.ShareConsentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.GuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.besome.sketch.design.DesignActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.swb" />
                <data android:pathPattern=".*\\..*\\.swb" />
                <data android:pathPattern=".*\\..*\\..*\\.swb" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.swb" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="false"
            android:theme="@style/TranslucentTheme" />
        <activity android:name="com.besome.sketch.language.LanguageActivity" />
        <activity android:name="com.besome.sketch.language.MySharedLanguageActivity" />
        <activity android:name="com.besome.sketch.language.LanguageUploadActivity" />
        <activity android:name="com.besome.sketch.language.LanguageDetailActivity" />
        <activity android:name="com.besome.sketch.language.LanguageModifyActivity" />
        <activity android:name="com.besome.sketch.language.LanguageShowAllActivity" />
        <activity
            android:name="com.besome.sketch.editor.manage.view.ManageViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.sound.ManageSoundActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.sound.ManageSoundImportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.image.ManageImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.image.ManageImageImportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.font.ManageFontActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.font.ManageFontImportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.ManageLibraryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.ManageCollectionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.ShowWidgetCollectionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.event.AddEventActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent" />
        <activity
            android:name="com.besome.sketch.editor.component.ComponentAddActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.ViewSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.view.AddViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.view.AddCustomViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.image.AddImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.DebugActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.sound.AddSoundActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.font.AddFontActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.tools.SignGuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.ShowBlockCollectionActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.ShowMoreBlockCollectionActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.image.AddImageCollectionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.sound.AddSoundCollectionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.manage.font.AddFontCollectionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.publish.GooglePublishExceptionDialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.editor.component.ShowFilePickerTypesActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.publish.PublishActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.ManagePublishActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.account.NoAccountActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.account.PublishAccountSettingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.OneFinalStepActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.publishsteps.PublishPreviewDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.publishsteps.PublishCompleteActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.publish.PublishMailCompleteActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.admob.AdmobActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.firebase.FirebaseActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent.FullScreen" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.firebase.ManageFirebaseActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.admob.ManageAdmobActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.compat.ManageCompatActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.library.googlemap.ManageGoogleMapActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="dev.aldi.sayuti.editor.injection.AddCustomAttributeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="dev.aldi.sayuti.editor.manage.ManageCustomAttributeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="dev.aldi.sayuti.editor.manage.ManageLocalLibraryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="id.indosw.mod.DirectEditorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.agus.jcoderz.editor.manage.background.ManageBackgroundActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.agus.jcoderz.editor.manage.permission.ManagePermissionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.agus.jcoderz.editor.manage.resource.ManageResourceActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.activity.managers.assets.ManageAssetsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.activity.managers.java.ManageJavaActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.activity.managers.nativelib.ManageNativelibsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.activity.SrcCodeEditor"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.code.SrcCodeEditor"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Material.Light.DarkActionBar" />
        <activity
            android:name="mod.hey.studios.project.proguard.ManageProguardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hey.studios.project.stringfog.ManageStringfogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.android_manifest.AndroidManifestInjection"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.android_manifest.AndroidManifestInjectionDetails"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.BlockSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.BlocksManager"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.BlocksManagerCreatorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.BlocksManagerDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.ComponentsMaker"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.ComponentsMakerCreator"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.ConfigActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.EventsMaker"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.EventsMakerCreator"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.EventsMakerDetails"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.hilal.saif.activities.tools.Tools"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="mod.ilyasse.activities.about.AboutModActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.competition.CompetitionDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.competition.CompetitionSubmitActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.competition.CompetitionTermsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.editor.manage.view.PresetSettingActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.besome.sketch.VideoGuideActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.besome.sketch.shared.views.SharedViewsListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.views.SharedViewsDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.views.ShareViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.views.SharedViewPreviewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.blocks.SharedBlocksListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.blocks.SharedBlocksDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.blocks.ShareBlockActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.blocks.SharedBlockPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.besome.sketch.shared.SharedSearchCollectionListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tutorial.TutorialShowAllActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tutorial.TutorialRequestPublishActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tutorial.TutorialManagementActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tutorial.TutorialUploadActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.moreblocks.SharedMoreBlocksListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.moreblocks.SharedMoreBlocksDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.moreblocks.ShareMoreBlockActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.moreblocks.SharedMoreBlockPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.besome.sketch.tools.SignApkActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.IncludedCollectionDetailActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.shared.SharedCollectionBookmarkListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.SearchRecentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.SearchResultActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.besome.sketch.tools.ImportProjectActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="import.sketchware.io"
                    android:scheme="http" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.besome.sketch.MainActivity" />
        </activity>
        <activity
            android:name="com.besome.sketch.SketchwareForInoPopupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.google.android.gms.appinvite.PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppInvite.Preview">
            <intent-filter>
                <action android:name="com.google.android.gms.appinvite.ACTION_PREVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.sketchware.remod.sources.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.sketchware.remod.sources.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.ads.internal.ipc.RemoteANActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":adnw"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"
            android:exported="false" />
        <service
            android:name="com.facebook.ads.internal.ipc.AdsMessengerService"
            android:exported="false"
            android:process=":adnw" />

        <provider
            android:name="com.facebook.ads.AudienceNetworkContentProvider"
            android:authorities="com.sketchware.remod.sources.AudienceNetworkContentProvider"
            android:exported="false" />

        <meta-data
            android:name="com.android.vending.splits"
            android:value="@xml/splits0" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1" />
        <meta-data
            android:name="com.android.dynamic.apk.fused.modules"
            android:value="base" />
    </application>
</manifest>
